<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>
	<mappers>
		<mapper resource="com/ncee/dao/mapper/BookMapper.xml"/>
		<mapper resource="com/ncee/dao/mapper/CheckTypeMapper.xml" />
		<mapper resource="com/ncee/dao/mapper/ConstructTypeMapper.xml" />
		<mapper resource="com/ncee/dao/mapper/CourseMapper.xml" />
		<mapper resource="com/ncee/dao/mapper/DifficultyTypeMapper.xml" />
		<mapper resource="com/ncee/dao/mapper/ExamTypeMapper.xml" />
		<mapper resource="com/ncee/dao/mapper/KnowledgeInfoMapper.xml" />
		<mapper resource="com/ncee/dao/mapper/KnowledgeLevelMapper.xml" />
		<mapper resource="com/ncee/dao/mapper/KnowledgeMapper.xml" />
		<mapper resource="com/ncee/dao/mapper/KnowledgeModuleMapper.xml" />
		<mapper resource="com/ncee/dao/mapper/ProvinceMapper.xml" />
		<mapper resource="com/ncee/dao/mapper/QuestionHasCheckTypeMapper.xml" />
		<mapper resource="com/ncee/dao/mapper/QuestionHasImageMapper.xml" />
		<mapper resource="com/ncee/dao/mapper/QuestionHasKnowledgeMapper.xml" />
		<mapper resource="com/ncee/dao/mapper/QuestionImageMapper.xml" />
		<mapper resource="com/ncee/dao/mapper/QuestionMapper.xml" />
		<mapper resource="com/ncee/dao/mapper/QuestionMetadataMapper.xml" />
		<mapper resource="com/ncee/dao/mapper/QuestionSelectionMapper.xml" />
		<mapper resource="com/ncee/dao/mapper/QuestionTypeMapper.xml" />
		<mapper resource="com/ncee/dao/mapper/RightsMapper.xml" />
		<mapper resource="com/ncee/dao/mapper/ScoreMapper.xml" />
		<mapper resource="com/ncee/dao/mapper/SubquestionMapper.xml" />
		<mapper resource="com/ncee/dao/mapper/UserRoleMapper.xml" />
		<mapper resource="com/ncee/dao/mapper/UsersMapper.xml"/>
		<mapper resource="com/ncee/dao/mapper/VQuestionBasicInfoMapper.xml" />
		<mapper resource="com/ncee/dao/mapper/VQuestionFullInfoMapper.xml" />
		<mapper resource="com/ncee/dao/mapper/VQuestionKnowledgeInfoMapper.xml" />
		<mapper resource="com/ncee/dao/mapper/YearMapper.xml" />
	</mappers>
</configuration>